%section.ten-oh-announcement
  .ten-oh-label
    %span 12.4
  .ten-oh-description
    .ten-oh-description-body.text-center
      %h2.main-heading New features every month
      %p.u-margin-bottom-xs
        GitLab 12.4 introduces improved Merge Request Dependencies, Audit APIs and many more great new features!

      .btn-group
        %a.btn.cta-btn.btn-white.margin-top20.hero-cta.hero-release-link{href: "/blog/2019/10/22/gitlab-12-4-released/"}
          See what’s new
